Competitor Analysis Agent (3WF)v1.1.json
{
  "name": "Competitor Analysis Agent (3WF)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63ed3395-f93f-4909-8cf0-ca04d8df0dbd",
              "name": "Channel_ID",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        48
      ],
      "id": "99b0d2f8-ddf5-4821-9324-8b86301e17c3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.channel.videos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -608,
        -48
      ],
      "id": "9a31ef0d-903f-4c9b-a04b-6a7032d1d997",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a97dcfae-cc52-4a68-9ea1-f105bc823554",
              "name": "video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            },
            {
              "id": "1a2877ac-29e7-404b-a5ea-b50f1d4a8781",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "4849b124-582d-453f-870f-127eb3cfbb23",
              "name": "Summary_Video",
              "value": "",
              "type": "string"
            },
            {
              "id": "e20fc5bc-ac5e-4cfd-bd7e-802bd3c2bad1",
              "name": "view_count",
              "value": "={{ $json.view_count }}",
              "type": "string"
            },
            {
              "id": "7d8636bc-d951-4abf-99a7-4612a3126141",
              "name": "video_length",
              "value": "={{ $json.video_length }}",
              "type": "string"
            },
            {
              "id": "5ad0a801-47c9-4900-983b-3da7359b0ba2",
              "name": "URL",
              "value": "=https://www.youtube.com/watch?v={{ $json.video_id }}",
              "type": "string"
            },
            {
              "id": "d21ad1fb-dc6a-4aaf-8636-4093a219217b",
              "name": "Published_at",
              "value": "={{ $json.published_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -48
      ],
      "id": "9f026a5e-4376-4ddc-9988-d72156d928ec",
      "name": "Formatting"
    },
    {
      "parameters": {
        "url": "=https://youtube-captions-transcript-subtitles-video-combiner.p.rapidapi.com/download-all/ {{ $json.video_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format_subtitle",
              "value": "srt"
            },
            {
              "name": "format_answer",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-captions-transcript-subtitles-video-combiner.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -160
      ],
      "id": "ee65e1ba-df5a-4d70-8c18-7be87607cf9a",
      "name": "RAPIDapi - TRANSCRIPT SCRAPEr",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get input JSON\nconst data = $json;\n\n// If languages array exists, dedupe it\nif (data.languages) {\n  data.languages = [...new Set(data.languages.map(l => JSON.stringify(l)))]\n    .map(str => JSON.parse(str));\n}\n\n// Keep the same single item, just with deduped languages\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -160
      ],
      "id": "ae23748f-eca0-4912-9611-4d11d05f0287",
      "name": "Keep only 1 language",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        -176
      ],
      "id": "3a71fcf4-01fb-4322-9841-ed2d0bcae05f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I need you to summarize the text in the following manner:\nGoal of the video:\ntopics covered in the video:\nyour summary must be max. 50 words long.\nHere are the subtitles {{ $json.text }}\n\n",
        "options": {
          "systemMessage": "You are an informative summarizer for video transcripts. The videos are in the crypto/stock trading space."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1856,
        -80
      ],
      "id": "3685eefc-daad-4880-8b2a-9f12442578d6",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1872,
        144
      ],
      "id": "290e9154-4718-437e-bdd5-b96a5a2a0b03",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sNy49ggfN8RaP7am",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2000,
        144
      ],
      "id": "ca8d6cba-bf3b-4818-95bb-58179ce1e158",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -1856,
        96
      ],
      "id": "572997aa-9ecc-4442-8493-74cb7e01ede5",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1792,
        320
      ],
      "id": "ba4b8e25-3311-4b82-81ab-e13c80e8d8b4",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\n// Input: an item with a property \"subtitle\" that contains the .srt text\n// Output: cleaned text without timestamps or sequence numbers\n\nconst input = items[0].json.subtitle;\n\n// Remove subtitle numbers (lines with only digits)\nlet cleaned = input.replace(/^\\d+\\s*$/gm, '');\n\n// Remove timestamp lines (00:00:00,000 --> 00:00:00,000)\ncleaned = cleaned.replace(/^\\d{2}:\\d{2}:\\d{2},\\d{3} --> \\d{2}:\\d{2}:\\d{2},\\d{3}\\s*$/gm, '');\n\n// Remove extra newlines\ncleaned = cleaned.replace(/\\n{2,}/g, '\\n').trim();\n\nreturn [{ json: { text: cleaned } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -160
      ],
      "id": "35302cba-0884-4d63-82ee-5074649e136d",
      "name": "Code",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://youtube-scraper3.p.rapidapi.com/api/v1/channel/id",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "TradingLabOfficial"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        -432
      ],
      "id": "0f49d288-8d89-46bd-b765-f285ee5a32bd",
      "name": "Get YT Channel 1"
    },
    {
      "parameters": {
        "url": "https://youtube-scraper3.p.rapidapi.com/api/v1/channel/id",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "TradePrime"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        -240
      ],
      "id": "7857eff1-c77b-4f71-8bbd-1b2db98725e7",
      "name": "Get YT Channel 2"
    },
    {
      "parameters": {
        "url": "https://youtube-scraper3.p.rapidapi.com/api/v1/channel/id",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "DataTraders"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        -48
      ],
      "id": "3287d540-6a43-40f3-b0b7-bdd319c998ec",
      "name": "Get YT Channel 3"
    },
    {
      "parameters": {
        "url": "https://youtube-scraper3.p.rapidapi.com/api/v1/channel/id",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "Wysetrade"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        144
      ],
      "id": "4302ee1c-1429-40ef-ab21-ba40360568e7",
      "name": "Get YT Channel 4"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1280,
        -16
      ],
      "id": "272049fc-b60d-4059-bb2e-83cd7560247a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "Scrape video info (you can change APIs)",
        "height": 400,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -96
      ],
      "typeVersion": 1,
      "id": "b25fb324-85c4-4d94-9ca8-f7d2189e71b5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -832,
        48
      ],
      "id": "d1066677-de02-42c1-a516-9a36d5054efa",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "content": "Generate Summaries",
        "height": 496,
        "width": 406
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1776,
        -192
      ],
      "id": "6e06bc3f-d9a5-4d89-995c-e6c7016075b1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "clear",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!s767e728919b843e8a242fc86b93a2954",
          "mode": "list",
          "cachedResultName": "Competitor Data Base FOR Michael",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{16B9716F-D89C-437B-86E7-AAF3C81CBAA1}",
          "mode": "list",
          "cachedResultName": "Blad3",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca&activeCell=Blad3!A1"
        },
        "applyTo": "Contents",
        "useRange": true,
        "range": "A2:J300"
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        -1792,
        -800
      ],
      "id": "4a708f9a-9e03-4d80-8d70-87a0f789dfa9",
      "name": "Clear sheet1",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "Get all competitor's channels",
        "height": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        -480
      ],
      "typeVersion": 1,
      "id": "f7105276-59e4-4b72-af52-8b534c5ac869",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        -448
      ],
      "id": "d87b225a-81f0-49ea-a2a2-d3700b249633",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fdd7789-d3dc-488c-82e5-1b0bdea5b50c",
              "name": "video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -496
      ],
      "id": "eeb077fd-630d-40ea-a486-293c2473a010",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f20ad3a2-0aaf-4067-9618-6e8b9b788ac8",
              "name": "video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            },
            {
              "id": "b1aaefbb-9316-4f8f-b305-15e865170c0f",
              "name": "Summary_Video",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -448
      ],
      "id": "12cc7748-e93e-4285-a2b3-ec2e35d3df7a",
      "name": "re-Format"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        -160
      ],
      "id": "4145e835-4736-459a-801a-7c05a8bfc306",
      "name": "Wait",
      "webhookId": "fb383e9a-52ba-4be2-a365-570981339599",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "getRows",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!s767e728919b843e8a242fc86b93a2954",
          "mode": "list",
          "cachedResultName": "Competitor Data Base FOR Michael",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{16B9716F-D89C-437B-86E7-AAF3C81CBAA1}",
          "mode": "list",
          "cachedResultName": "Blad3",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca&activeCell=Blad3!A1"
        },
        "table": {
          "__rl": true,
          "value": "{356D192A-910A-4BE8-8AD5-C4D847B69996}",
          "mode": "list",
          "cachedResultName": "Tabel1",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca&activeCell=Blad3!A1:F104"
        },
        "limit": 500,
        "filters": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        -608,
        -656
      ],
      "id": "ba4cc5a8-e3c7-4a29-bcd4-7db7c580cfb7",
      "name": "Get rows",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac2c0d00-1001-4303-816c-ec32f91772f5",
              "name": "get_rows_video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -656
      ],
      "id": "cdd06d78-472c-4e69-bde4-6ecedf095745",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        -352
      ],
      "id": "e93ff0de-7ce4-4b8a-8686-37a708c0b6a2",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01b796d8-4a9e-4d04-8511-df1acf211956",
              "name": "video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            },
            {
              "id": "5acfd930-8532-4f96-9bfe-f73da2bdf9ae",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "3cbf8090-9af7-40f8-94d9-8c7048232e90",
              "name": "view_count",
              "value": "={{ $json.view_count }}",
              "type": "string"
            },
            {
              "id": "a6a04644-5b0c-4889-bf1b-1333631effc9",
              "name": "video_length",
              "value": "={{ $json.video_length }}",
              "type": "string"
            },
            {
              "id": "5fb4e8db-af15-4f01-a7dd-9fe7ad237ce9",
              "name": "URL",
              "value": "={{ $json.URL }}",
              "type": "string"
            },
            {
              "id": "b3cf7667-81b8-48ae-875a-d073032b3dca",
              "name": "Published_at",
              "value": "={{ $json.Published_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -608
      ],
      "id": "7b5605fa-deef-4f9f-a9ed-cf509ff70b82",
      "name": "edit field"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a knowledgeable assistant that answers insightful questions regarding youtube videos in the excel database. Always read the Excel of both my competitors database and my own! You help users with content ideas for their own YouTube Channel!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3072,
        480
      ],
      "id": "c1a5473e-e05d-4f66-880f-ca3b938adfe8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nI am programmed by Alex to have all of your competitors on YouTube ready here in my database! I can answer questions regarding their content. The database get's updated periodically!\n\nLet me know what you would like to know!\n\n",
        "options": {
          "loadPreviousSession": "notSupported"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -3408,
        480
      ],
      "id": "866bc642-f82e-4543-af60-0ed60be43a41",
      "name": "When chat message received",
      "webhookId": "5404e024-2884-4e4d-92d0-459293689ec3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3184,
        704
      ],
      "id": "3b946f94-39c0-4656-b367-b89e50b4e375",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "sNy49ggfN8RaP7am",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3056,
        704
      ],
      "id": "53e20a85-d12e-4707-bc7c-6d7375707f6b",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "readRows",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!s767e728919b843e8a242fc86b93a2954",
          "mode": "list",
          "cachedResultName": "Competitor Data Base FOR Michael",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{16B9716F-D89C-437B-86E7-AAF3C81CBAA1}",
          "mode": "list",
          "cachedResultName": "Blad3",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca&activeCell=Blad3!A1"
        },
        "useRange": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcelTool",
      "typeVersion": 2.1,
      "position": [
        -2928,
        704
      ],
      "id": "69be3fa2-23fd-4a3c-a130-cf89854328b4",
      "name": "Get rows from sheet in Microsoft Excel 365",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!s767e728919b843e8a242fc86b93a2954",
          "mode": "list",
          "cachedResultName": "Competitor Data Base FOR Michael",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{16B9716F-D89C-437B-86E7-AAF3C81CBAA1}",
          "mode": "list",
          "cachedResultName": "Blad3",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca&activeCell=Blad3!A1"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "video_id",
              "fieldValue": "={{ $json.video_id }}"
            },
            {
              "column": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "column": "view_count",
              "fieldValue": "={{ $json.view_count }}"
            },
            {
              "column": "video_length",
              "fieldValue": "={{ $json.video_length }}"
            },
            {
              "column": "URL",
              "fieldValue": "={{ $json.URL }}"
            },
            {
              "column": "Published_at",
              "fieldValue": "={{ $json.Published_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        736,
        -736
      ],
      "id": "98646a32-d57a-48c0-bdd0-73987b0a808c",
      "name": "Append data to sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "update",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!s767e728919b843e8a242fc86b93a2954",
          "mode": "list",
          "cachedResultName": "Competitor Data Base FOR Michael",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{16B9716F-D89C-437B-86E7-AAF3C81CBAA1}",
          "mode": "list",
          "cachedResultName": "Blad3",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca&activeCell=Blad3!A1"
        },
        "columnToMatchOn": "video_id",
        "valueToMatchOn": "={{ $json.video_id }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Summary_Video",
              "fieldValue": "={{ $json.Summary_Video }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        1632,
        -544
      ],
      "id": "8b52b11e-db51-4d2d-b52d-e1624faa7b5f",
      "name": "Update sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1408,
        -448
      ],
      "id": "8e2bcb63-21d7-43ef-a93b-a3b9b10b079a",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        -352
      ],
      "id": "3936e113-0900-4538-bbd9-24b77c8741c4",
      "name": "Wait1",
      "webhookId": "d7f4b178-8815-4a0a-935c-0c97f30e2034"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37800954-3184-42d2-b8b3-68fcf361632a",
              "leftValue": "={{ $json.get_rows_video_id }}",
              "rightValue": "={{ $json.video_id }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -352
      ],
      "id": "7e5e7bca-818e-4e7f-9728-c5617476b4d7",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18ec4c0e-13f8-4fe4-abd6-4fa1975af7c5",
              "leftValue": "={{ $json.Summary_Video }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "0812630d-c327-416a-bf17-3f682a4f3934",
              "leftValue": "={{ $json.video_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        -128
      ],
      "id": "42742dee-0c56-4929-84b9-bc94f63c55bc",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "getRows",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!s767e728919b843e8a242fc86b93a2954",
          "mode": "list",
          "cachedResultName": "Competitor Data Base FOR Michael",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{16B9716F-D89C-437B-86E7-AAF3C81CBAA1}",
          "mode": "list",
          "cachedResultName": "Blad3",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca&activeCell=Blad3!A1"
        },
        "table": {
          "__rl": true,
          "value": "{356D192A-910A-4BE8-8AD5-C4D847B69996}",
          "mode": "list",
          "cachedResultName": "Tabel1",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca&activeCell=Blad3!A1:G120"
        },
        "limit": 300,
        "filters": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        288,
        -128
      ],
      "id": "b45b7af7-93ad-4338-a0db-903fb1c51024",
      "name": "Get rows1",
      "executeOnce": true,
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://youtube-scraper3.p.rapidapi.com/api/v1/channel/id",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "LuxAlgo"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        336
      ],
      "id": "4cc0bb67-26b5-4e8b-ab2c-9a4d0b61c057",
      "name": "Get YT Channel "
    },
    {
      "parameters": {
        "url": "https://youtube-scraper3.p.rapidapi.com/api/v1/channel/id",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "fractalflowpro"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        528
      ],
      "id": "c8b986fa-2ab2-4118-902e-6e5403589149",
      "name": "Get YT Channel 5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63ed3395-f93f-4909-8cf0-ca04d8df0dbd",
              "name": "Channel_ID",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        1856
      ],
      "id": "8171cdd6-a035-44ba-baf3-c0ed2d0d08c5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "https://youtube-scraper3.p.rapidapi.com/api/v1/channel/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $json.Channel_ID }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        1904
      ],
      "id": "c0c1bece-c2d7-45a9-a91e-7353e43d69ee",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.channel.videos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -608,
        1712
      ],
      "id": "716c5c72-cfc4-47b5-9a2e-5d4887e644bb",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a97dcfae-cc52-4a68-9ea1-f105bc823554",
              "name": "video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            },
            {
              "id": "1a2877ac-29e7-404b-a5ea-b50f1d4a8781",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "4849b124-582d-453f-870f-127eb3cfbb23",
              "name": "Summary_Video",
              "value": "",
              "type": "string"
            },
            {
              "id": "e20fc5bc-ac5e-4cfd-bd7e-802bd3c2bad1",
              "name": "view_count",
              "value": "={{ $json.view_count }}",
              "type": "string"
            },
            {
              "id": "7d8636bc-d951-4abf-99a7-4612a3126141",
              "name": "video_length",
              "value": "={{ $json.video_length }}",
              "type": "string"
            },
            {
              "id": "5ad0a801-47c9-4900-983b-3da7359b0ba2",
              "name": "URL",
              "value": "=https://www.youtube.com/watch?v={{ $json.video_id }}",
              "type": "string"
            },
            {
              "id": "d21ad1fb-dc6a-4aaf-8636-4093a219217b",
              "name": "Published_at",
              "value": "={{ $json.published_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        1712
      ],
      "id": "30f881a2-220e-4b58-8ab0-131992d0060c",
      "name": "Formatting1"
    },
    {
      "parameters": {
        "url": "=https://youtube-captions-transcript-subtitles-video-combiner.p.rapidapi.com/download-all/ {{ $json.video_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format_subtitle",
              "value": "srt"
            },
            {
              "name": "format_answer",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-captions-transcript-subtitles-video-combiner.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1712
      ],
      "id": "56c81f7b-df4b-46d0-b6f5-dcebe82e1f7d",
      "name": "RAPIDapi - TRANSCRIPT SCRAPEr1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get input JSON\nconst data = $json;\n\n// If languages array exists, dedupe it\nif (data.languages) {\n  data.languages = [...new Set(data.languages.map(l => JSON.stringify(l)))]\n    .map(str => JSON.parse(str));\n}\n\n// Keep the same single item, just with deduped languages\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        1712
      ],
      "id": "83ce3b36-e6f7-4390-bfa2-b59f08afa12e",
      "name": "Keep only 1 language1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        1760
      ],
      "id": "aa665a83-d83e-4a24-8435-98f26cc018af",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I need you to summarize the text in the following manner:\nGoal of the video:\ntopics covered in the video:\nyour summary must be max. 50 words long.\nHere are the subtitles {{ $json.text }}\n\n",
        "options": {
          "systemMessage": "You are an informative summarizer for video transcripts. The videos are in the crypto/stock trading space."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1856,
        1840
      ],
      "id": "d06470e1-858a-40d0-b2da-35986f046eee",
      "name": "AI Agent2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1872,
        2064
      ],
      "id": "50a69d05-e64f-4a82-af0f-71272a206a94",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "sNy49ggfN8RaP7am",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2000,
        2064
      ],
      "id": "4455313b-9689-417e-a115-6172d5adc049",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -1856,
        1856
      ],
      "id": "d2316451-c3d8-4776-a24c-dd8287ec2df4",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1792,
        2080
      ],
      "id": "604f7d29-cb2b-410e-ab8a-a93af17d2445",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\n// Input: an item with a property \"subtitle\" that contains the .srt text\n// Output: cleaned text without timestamps or sequence numbers\n\nconst input = items[0].json.subtitle;\n\n// Remove subtitle numbers (lines with only digits)\nlet cleaned = input.replace(/^\\d+\\s*$/gm, '');\n\n// Remove timestamp lines (00:00:00,000 --> 00:00:00,000)\ncleaned = cleaned.replace(/^\\d{2}:\\d{2}:\\d{2},\\d{3} --> \\d{2}:\\d{2}:\\d{2},\\d{3}\\s*$/gm, '');\n\n// Remove extra newlines\ncleaned = cleaned.replace(/\\n{2,}/g, '\\n').trim();\n\nreturn [{ json: { text: cleaned } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        1712
      ],
      "id": "c76b491f-9bca-4d02-b1d0-70b33ad92820",
      "name": "Code1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://youtube-scraper3.p.rapidapi.com/api/v1/channel/id",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        1856
      ],
      "id": "9d1b2f4e-fd57-44da-8330-c575d201ad23",
      "name": "Get YT Channel 6"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1280,
        1792
      ],
      "id": "f84464e2-3fd5-468b-aab7-a08a3f01ca36",
      "name": "Merge3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -832,
        1856
      ],
      "id": "ee739754-dd06-411c-8365-61aa7de83ee6",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "clear",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!s767e728919b843e8a242fc86b93a2954",
          "mode": "list",
          "cachedResultName": "Competitor Data Base FOR Michael",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{16B9716F-D89C-437B-86E7-AAF3C81CBAA1}",
          "mode": "list",
          "cachedResultName": "Blad3",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=767e7289-19b8-43e8-a242-fc86b93a2954&cid=6ab41cd690d28bca&activeCell=Blad3!A1"
        },
        "applyTo": "Contents",
        "useRange": true,
        "range": "A2:J300"
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        -1792,
        1376
      ],
      "id": "f034a1b1-fb03-456f-9f37-0e74a10e6b15",
      "name": "Clear sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "Get Your YT CHANNEL",
        "height": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        1792
      ],
      "typeVersion": 1,
      "id": "26e0d0ba-dd81-4b45-95df-f5f6f13c1d83",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        1472
      ],
      "id": "4154ee62-c68d-4593-908a-e2a1a34f8293",
      "name": "Merge4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fdd7789-d3dc-488c-82e5-1b0bdea5b50c",
              "name": "video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        1424
      ],
      "id": "818fb2eb-c33f-4e2d-9b33-f76495cfd36e",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f20ad3a2-0aaf-4067-9618-6e8b9b788ac8",
              "name": "video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            },
            {
              "id": "b1aaefbb-9316-4f8f-b305-15e865170c0f",
              "name": "Summary_Video",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        1472
      ],
      "id": "0a311dc2-942a-406a-b690-eeedbccc146e",
      "name": "re-Format1"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        1712
      ],
      "id": "398ace54-e161-4eca-adbe-a5244a74e0de",
      "name": "Wait2",
      "webhookId": "fb383e9a-52ba-4be2-a365-570981339599",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "getRows",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!sb5b405f176c34e58870a36801658f43d",
          "mode": "list",
          "cachedResultName": "TomCrown DB",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{7911E25E-3F91-441A-BE83-596A53749B69}",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca&activeCell=Blad1!A1"
        },
        "table": {
          "__rl": true,
          "value": "{F27DC752-192D-465C-B508-E3D8CBAC8DD8}",
          "mode": "list",
          "cachedResultName": "Tabel1",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca&activeCell=Blad1!A1:G201"
        },
        "limit": 300,
        "filters": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        -608,
        1520
      ],
      "id": "72a73d42-81a6-4529-afc7-2d8aa9b0b454",
      "name": "Get rows2",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac2c0d00-1001-4303-816c-ec32f91772f5",
              "name": "get_rows_video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        1520
      ],
      "id": "8614eb9f-b1f4-44fe-bf5d-120f2e4294d0",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        1616
      ],
      "id": "37ac23ad-2442-4572-96f0-16c65ca32a43",
      "name": "Merge5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01b796d8-4a9e-4d04-8511-df1acf211956",
              "name": "video_id",
              "value": "={{ $json.video_id }}",
              "type": "string"
            },
            {
              "id": "5acfd930-8532-4f96-9bfe-f73da2bdf9ae",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "3cbf8090-9af7-40f8-94d9-8c7048232e90",
              "name": "view_count",
              "value": "={{ $json.view_count }}",
              "type": "string"
            },
            {
              "id": "a6a04644-5b0c-4889-bf1b-1333631effc9",
              "name": "video_length",
              "value": "={{ $json.video_length }}",
              "type": "string"
            },
            {
              "id": "5fb4e8db-af15-4f01-a7dd-9fe7ad237ce9",
              "name": "URL",
              "value": "={{ $json.URL }}",
              "type": "string"
            },
            {
              "id": "b3cf7667-81b8-48ae-875a-d073032b3dca",
              "name": "Published_at",
              "value": "={{ $json.Published_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        1328
      ],
      "id": "46cb433d-d905-4443-b915-25908de72215",
      "name": "edit field1"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!sb5b405f176c34e58870a36801658f43d",
          "mode": "list",
          "cachedResultName": "TomCrown DB",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{7911E25E-3F91-441A-BE83-596A53749B69}",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca&activeCell=Blad1!A1"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "video_id",
              "fieldValue": "={{ $json.video_id }}"
            },
            {
              "column": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "column": "view_count",
              "fieldValue": "={{ $json.view_count }}"
            },
            {
              "column": "video_length",
              "fieldValue": "={{ $json.video_length }}"
            },
            {
              "column": "URL",
              "fieldValue": "={{ $json.URL }}"
            },
            {
              "column": "Published_at",
              "fieldValue": "={{ $json.Published_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        736,
        1184
      ],
      "id": "f4120ffb-8076-41c2-905c-0c8d9a2a68ed",
      "name": "Append data to sheet1",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37800954-3184-42d2-b8b3-68fcf361632a",
              "leftValue": "={{ $json.get_rows_video_id }}",
              "rightValue": "={{ $json.video_id }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        1616
      ],
      "id": "4f3b7e1d-0463-4fdb-a0a6-bf074770edd7",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18ec4c0e-13f8-4fe4-abd6-4fa1975af7c5",
              "leftValue": "={{ $json.Summary_Video }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "1b94d444-00e9-4d37-b5d6-3a4cebef6620",
              "leftValue": "={{ $json.video_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        1760
      ],
      "id": "f29a70b3-790e-493d-bd32-cf3bbc715b21",
      "name": "Filter1"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "getRows",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!sb5b405f176c34e58870a36801658f43d",
          "mode": "list",
          "cachedResultName": "TomCrown DB",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{7911E25E-3F91-441A-BE83-596A53749B69}",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca&activeCell=Blad1!A1"
        },
        "table": {
          "__rl": true,
          "value": "{F27DC752-192D-465C-B508-E3D8CBAC8DD8}",
          "mode": "list",
          "cachedResultName": "Tabel1",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca&activeCell=Blad1!A1:G201"
        },
        "limit": 300,
        "filters": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        288,
        1760
      ],
      "id": "8aff63d8-d141-4214-8c5d-9fa921d2fe3e",
      "name": "Get rows3",
      "executeOnce": true,
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2080,
        -656
      ],
      "id": "e8b688aa-2691-4791-94f4-4e17c993d431",
      "name": "Schedule Trigger Comp."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2080,
        1520
      ],
      "id": "01ded345-93e7-4c0f-be6c-ddde169870b8",
      "name": "Scheduled Trigger Own."
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "update",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!sb5b405f176c34e58870a36801658f43d",
          "mode": "list",
          "cachedResultName": "TomCrown DB",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{7911E25E-3F91-441A-BE83-596A53749B69}",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca&activeCell=Blad1!A1"
        },
        "columnToMatchOn": "video_id",
        "valueToMatchOn": "={{ $json.video_id }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Summary_Video",
              "fieldValue": "={{ $json.Summary_Video }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        1632,
        1328
      ],
      "id": "0c8f37f0-ae3f-456d-8e42-1ed75d842e2d",
      "name": "Update sheet1",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1408,
        1472
      ],
      "id": "6011b745-dd40-4e7f-a892-85ba1d5f3662",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        1520
      ],
      "id": "004c5d79-8cc7-40e3-85b7-096f418bc4c6",
      "name": "Wait3",
      "webhookId": "23d2c8d0-18a6-402d-a580-37c39cdf8eb5"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get sheets in Microsoft Excel 365. This is the database of my own videos.",
        "resource": "worksheet",
        "operation": "readRows",
        "workbook": {
          "__rl": true,
          "value": "6AB41CD690D28BCA!sb5b405f176c34e58870a36801658f43d",
          "mode": "list",
          "cachedResultName": "TomCrown DB",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca"
        },
        "worksheet": {
          "__rl": true,
          "value": "{7911E25E-3F91-441A-BE83-596A53749B69}",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://onedrive.live.com/personal/6ab41cd690d28bca/_layouts/15/doc.aspx?resid=b5b405f1-76c3-4e58-870a-36801658f43d&cid=6ab41cd690d28bca&activeCell=Blad1!A1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcelTool",
      "typeVersion": 2.1,
      "position": [
        -2800,
        704
      ],
      "id": "0910bf67-c2ba-4dd6-8c4e-2a73118452e9",
      "name": "Get rows from sheet in Microsoft Excel ",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "01GoOfRiJ4ekHm4E",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "content": "Update Meta data first",
        "height": 224,
        "width": 278
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        -800
      ],
      "id": "63eb6ab1-0a5e-405e-96cb-2724c6cf36f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Add Summaries",
        "height": 224,
        "width": 182
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        -592
      ],
      "id": "838d7143-c27d-4822-aa5e-126b5af74e24",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "url": "https://youtube-scraper3.p.rapidapi.com/api/v1/channel/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $json.Channel_ID }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "youtube-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "78e60fb556msh55a7513472d2b87p16f3dbjsn81dbcd7a0e43"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        144
      ],
      "id": "a492f126-40d8-41be-b1e8-68751a1501e7",
      "name": "Get info of videos",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Transcript Scraper API",
        "height": 240,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -208
      ],
      "id": "8603463d-53e8-4005-aaa6-293e376f4b39",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "If info already in the database -> don't add rows",
        "height": 176,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -400
      ],
      "typeVersion": 1,
      "id": "e6be29f0-eaa1-4ea7-9589-0b8740bafde2",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "Do existing rows all have summaries?",
        "height": 208,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -176
      ],
      "typeVersion": 1,
      "id": "fb030b3c-415b-45a7-97c7-5844229d219a",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "Generate Summaries",
        "height": 496,
        "width": 406
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        1760
      ],
      "id": "95f2c8f4-4d4b-4c4c-a087-2bec5a63776c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Add Summaries",
        "height": 224,
        "width": 182
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        1264
      ],
      "id": "cec9b75c-5ab3-41ce-9fed-63abb50107dc",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "Transcript Scraper API",
        "height": 240,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        1664
      ],
      "id": "26441d0d-63bd-4f32-95a7-028d497a2931",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Do existing rows all have summaries?",
        "height": 208,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        1712
      ],
      "typeVersion": 1,
      "id": "c20ca64c-d4db-466e-aea6-b3884c70d275",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "If info already in the database -> don't add rows",
        "height": 176,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1568
      ],
      "typeVersion": 1,
      "id": "942eedbb-c6d1-4023-8641-4f0d82922db3",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "Scrape video info (you can change APIs)",
        "height": 400,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        1696
      ],
      "typeVersion": 1,
      "id": "a0d617a2-7705-4dea-ae2d-56ad26e924d6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## This is the workflow that updates your content database. \n* ",
        "height": 512,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2256,
        1376
      ],
      "id": "a7456c81-dfac-4cbc-a1dc-b58e63d30bb3",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## This is the workflow that updates your competitor database. \n**",
        "height": 512,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2192,
        -880
      ],
      "id": "f9db1002-46c4-4d87-b8aa-4653a2c607a1",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## The AI Agent Pulls info from the two databases. You can chat with him \n* ",
        "height": 512,
        "width": 1328,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3664,
        384
      ],
      "id": "a9076daa-e9d3-46e1-99ea-aa03da5f1a8a",
      "name": "Sticky Note18"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatting": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RAPIDapi - TRANSCRIPT SCRAPEr": {
      "main": [
        [
          {
            "node": "Keep only 1 language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep only 1 language": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "RAPIDapi - TRANSCRIPT SCRAPEr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Get YT Channel 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get YT Channel 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get YT Channel 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get YT Channel 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get YT Channel ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get YT Channel 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YT Channel 1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YT Channel 4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Get YT Channel 2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get YT Channel 3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get info of videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "re-Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "re-Format": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet1": {
      "main": [
        []
      ]
    },
    "Get rows": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit field": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append data to sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get rows from sheet in Microsoft Excel 365": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append data to sheet": {
      "main": [
        []
      ]
    },
    "Update sheet": {
      "main": [
        []
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Update sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "edit field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YT Channel ": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Get YT Channel 5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Formatting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatting1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RAPIDapi - TRANSCRIPT SCRAPEr1": {
      "main": [
        [
          {
            "node": "Keep only 1 language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep only 1 language1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "RAPIDapi - TRANSCRIPT SCRAPEr1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "Get YT Channel 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YT Channel 6": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "re-Format1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "re-Format1": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit field1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append data to sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "edit field1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get rows3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows3": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Comp.": {
      "main": [
        [
          {
            "node": "Clear sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Trigger Own.": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get rows2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "node": "Update sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows from sheet in Microsoft Excel ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get info of videos": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5d3868f-1b2c-4079-a94d-d2df0a5c0ab5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3887d9f903df2fbe0848b12db7915294696c754f88e396969ee333b0de68dfc2"
  },
  "id": "DJ1Jigh70Sj2frGJ",
  "tags": []
}